@import './components/forms.css';
@import './components/message.css';
@import './components/navbar.css';
@import './components/showcase.css';

/* FLEX DIRECTIONS */

.column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.row-start {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.row-end {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.row-apart {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.row-spaced {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.row-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/* Container */

.container {
	border: 1px solid black;
	padding: var(--sp-3);
	width: 100%;
	display: flex;
}

/* HEADERS */

.mainHeader {
	font-family: var(--WorkSans);
	font-weight: 600;
	text-decoration: underline;
	text-transform: capitalize;
	color: whitesmoke;
	padding: var(--sp-1) var(--sp-6);
	border-radius: 15px;
}

.secondHeader {
	font-family: var(--Poppins);
}
