* {
	--col-primary: #39311d;
	--col-secondary: #7e7474;
	--col-neutral: #c4b6b6;
	--col-warning: #ffdd93;

	/* SPACINGS */

	--sp-1: 0.5rem;
	--sp-2: 0.8rem;
	--sp-3: 1.2rem;
	--sp-4: 1.5rem;
	--sp-5: 1.8rem;
	--sp-6: 2.1rem;
}

/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&family=Work+Sans:wght@200;400;600;900&display=swap');

* {
	--Poppins: 'Poppins', sans-serif;
	--WorkSans: 'Work Sans', sans-serif;

	--fs-1: 0.5rem;
	--fs-2: 0.8rem;
	--fs-3: 1.2rem;
	--fs-4: 1.8rem;
	--fs-5: 2.3rem;
	--fs-6: 3rem;
}
